<nav class="navbar sticky-top navbar-light bg-light py-3 border-bottom light">
  <div class="container">
    <div class="container-fluid p-0 d-flex justify-content-between align-items-center flex-column flex-md-row">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row align-items-center flex-column flex-sm-row justify-content-md-center">
        <li class="nav-item">
          <%= link_to '', root_path, class: "fa fa-coffee link-secondary text-decoration-none mt-2 mb-2" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to '', order_path(current_order), class: 'btn btn-secondary m-2 fa fa-shopping-cart' %>
          </li>
          <li class="nav-item ms-2 text-muted">
            Logged in as <strong><%= current_user.email %></strong>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit Account', edit_user_registration_path, class: 'btn btn-secondary ms-4 mt-2 mb-2' %>
          </li>
          <li class="nav-item">
            <%= button_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo: "false" }, class: 'btn btn-secondary ms-4 mt-2 mb-2' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-secondary ms-4 mt-2 mb-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: 'btn btn-secondary ms-4 mt-2 mb-2' %>
          </li>
        <% end %>
      </ul>
      <%= form_tag root_path, method: :get, class: 'd-flex position: relative ms-2 mt-2 mb-2', id: 'search-form ui-widget' do %>
        <%= text_field_tag :search, params[:search], class: 'form-control me-1 ', placeholder: 'Search', id: 'autocomplete', data: { autocomplete_source: Product.pluck(:title) } %>
        <%= submit_tag "Search", name: nil, class: 'btn btn-outline-secondary' %>
      <% end %>
    </div>
  </div>
</nav>
<script>
    $("#autocomplete").autocomplete({
        source: $('#autocomplete').data('autocomplete-source')
    });
</script>
