<div class="text-center mb-2">
  <%= image_tag('https://www.vectorkhazana.com/assets/images/products/First_I_Drink_The_Coffee.png', width: '250') %>
  <h2>Please log in first:</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} }) do |f| %>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control-sm' %>
    </div>

    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "current-password", class:'form-control-sm' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class:'form-check-input' %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-dark mb-2 mt-2' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
