<%= render partial: 'products/page_nav' %>
<div class="products-container ms-4 me-4">
  <div class="row p-0 m-0 mt-4 mb-4 d-flex justify-content-evenly">
    <% @products.each do |product| %>
      <div class="col col-lg-4 col-md-6">
        <div class="card mb-4">
          <%= image_tag('https://picsum.photos/id/766/300/', class: 'rounded-top') %>
          <div class="card-body">
            <h5 data-bs-toggle="tooltip" title="<%= product.title %>" class="card-title"><%= link_to product.title, product, class: "link-secondary" %></h5>
            <p class="card-text text-secondary">Flavours: <i><%= product.description.truncate(27) %></i></p>
            <div class="add-to-cart mt-2 mb-2 d-flex align-items-center justify-content-between">
              <h6 class="card-text text-secondary m-0"><%= number_to_currency(product.price.round, unit: "UAH", format: "%n %u") %>
                per 100g.</h6>
              <%= button_to '', product_order_items_path(product), method: :post, class: 'fa fa-shopping-cart btn btn-secondary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @products.count == 0 %>
      <p class="alert alert-warning ms-4">Sorry, no coffee available.</p>
    <% end %>
  </div>
  <div class="pagination d-flex justify-content-center mb-5 mt-0">
    <%= paginate @products %>
  </div>
</div>
